.container::before {
    text-align: center;
    position: absolute;
    content: "";
    background: url(Img/pizza-gd488cee82_1920.jpg) center center/cover;
    width: 1020px;
    height: 800px;
    z-index: -1;
    opacity: 0.9;
}
.table {
    width: 1064px;
    height: 372px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -20px;
    margin-top: 500px;
}
.inhome p {
    text-align: center;
    font-size: 38px;
    font-family: 'Baloo Bhai', cursive;
    height: 218px;
}
.inhome::after {
    content: 'Button';
    text-align: center;
    background-color: wheat;
    color: rgb(124, 124, 131);
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 1.5rem;
    text-align: center;
    margin: 47px auto;
    margin-top: 272px;
}
.inhome {
    display: flex;
    flex-direction: column;
    width: 595px;
    margin: 11px 143px;
}