

/* All Navigation bar */


.container::before {

    text-align: center;
    position: absolute;
    content: "";
    background: url('Img/pizza-gd488cee82_1920.jpg') center center/cover;
    width: 1274px;
    height: 350px;
    z-index: -1;
    opacity: 0.9;
}
/* Navigation bar */

/* Navigation bar logo */

/* Hadding and paragraph */

.inhome {
    display: flex;
    flex-direction: column;
    width: 595px;
    margin: 12px 263px;
    margin-left: 345px;
}
/* Middle paragraph design */
.mid {
    height: max-content;
    width: max-content;
    margin-left: 537px;
    margin-top: 28px;
    font-size: 1.5rem;
}
/* This line for table*/
.table {
    height: 372px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 103px;
}
/*Fill in boxes*/
#pizza {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
#breakfast {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: 0px auto;
}
#delevery {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: 0px auto;
}
.imageall {
    width: 119px;
    margin: 10px auto;
}
/* Bottom */
#h1 {
    margin-top: -46px;
    margin-left: 577px;
    font-size: 29px;
    width: 400px;
}


.bottom::before{
    content: "";
    position: absolute;
    background: url('Img/strawberry-ice-cream-g3e28ce30d_1920.jpg') center center/cover;
    width: 1274px;
    height: 260px;
    margin-top: 40px;
    z-index: -1;
    opacity: 0.8;
}
/* Bottom Image */
.contact::before{
    content: "";
    background:url('Img/299543773.jpg') center center/cover;
    position: absolute;
    width: 1274px;
    height: 400px;
    z-index: -1;
    opacity: 0.8;
}
.conform {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 264px;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-family: 'Baloo Bhai', cursive;
}
.con{
    width: 146px;
}
#contacth1 {
    width: 200px;
    margin: 0px auto;
}
.client {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    margin: 57px auto;
    margin-left: 224px;
}